<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<script src="/js/home/login.js" defer></script>
<body>
    <main>
        <input type="text" placeholder="id" name="id" id="id">
        <input type="text" placeholder="pw" name="password" id="password">
        <button type="submit" id="button">로그인</button>
    </main>
</body>
</html>